@import "shared/styles/styles.theme.scss";
@import "../../../styles.theme.scss";

.notification {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;

    &.mobile-long-button-or-buttons {
      flex-direction: column;
    }
  }

  .label-text {
    color: white;
    display: flex;
    align-items: center;
    gap: $padding-s;
    margin-right: $padding-s;
  }
}
