@import "shared/styles/styles.theme.scss";
@import "../../../styles.theme.scss";

input {
  outline: none;
  border: none;
  color: white;
  background-color: $main-background-2;
  padding: 0 $padding-s;
  height: 40px;
  border-radius: $border-radius;
  font-size: $text-size;
  cursor: text;

  &:hover,
  &:focus {
    background-color: $main-background-2;
  }
}

img.image {
  margin-right: 16px;
  min-height: 18px;
  max-height: 18px;
  min-width: 18px;
  max-width: 18px;
}

.highlight {
  color: $primary !important;
}

.text {
  display: flex;
  flex-direction: column;
  gap: $padding-xs;
  align-items: flex-start;

  padding: $padding-s 0;

  flex-grow: 1;

  .descriptive-text {
    color: $text-2;
    font-size: $text-size-xs;
    word-break: break-all;

    strong {
      color: white;
      font-weight: bold;
    }
  }
}

.search-container {
  display: flex;
  align-items: center;
  gap: $padding-s;
  padding: $padding-s;

  position: sticky;
  top: -1px;
  z-index: 10;
  background: $main-background-1;
}

.checked {
  text-decoration: line-through;
  text-decoration-color: currentColor;
  color: $text-3;
}

.only-text {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 13px;
}

// Alles für das Hervorheben bei Hover über Button
.menu-section-title {
  display: flex;
  align-items: center;

  color: $text-1;
  background: $main-background-1;

  transition: color 250ms ease-in-out;

  mat-divider {
    transition: border-top-color 250ms ease-in-out;
  }

  &.transparent {
    color: $text-3;

    mat-divider {
      border-top-color: $border-color;
    }
  }

  &.white {
    color: white;

    mat-divider {
      border-top-color: white;
    }
  }
}

// Alles für das Hervorheben bei Hover über Button
.menu-button {
  &:hover {
    .text {
      color: white;
    }

    mat-icon.button-icon {
      color: white;
    }
  }

  .text {
    transition: color 250ms ease-in-out;

    color: $text-1;
  }

  mat-icon.button-icon {
    transition: color 250ms ease-in-out;

    color: $text-1;
  }

  &.transparent {
    .text {
      color: $text-3;
    }

    mat-icon.button-icon {
      color: $text-3;
    }
  }

  &.white {
    .text {
      color: white;
    }

    mat-icon.button-icon {
      color: white;
    }
  }
}

.with-background {
  background-color: $main-background-1;
}
