@import "shared/styles/styles.theme.scss";
@import "../../../styles.theme.scss";

:host {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  background: rgba($main-background, 0.75);
  flex-grow: 1;
}
