<mat-select
  matRipple
  [disabled]="disabled"
  [matRippleDisabled]="disabled ?? false"
  [value]="selectedKey"
  [matTooltip]="tooltip || selected.tooltip || selected.name | translate"
  [ngClass]="{ normal: !isSmall, small: isSmall, 'without-background': !withBackground }"
  [style.backgroundColor]="selected.color"
  [tabIndex]="tabIndex"
  (valueChange)="onSelectChanged($event)"
>
  <mat-select-trigger [ngClass]="{ small: isSmall }">
    <mat-icon
      *ngIf="selected.icon"
      [svgIcon]="selected.icon"
      class="medium without-button"
    ></mat-icon>
    <img *ngIf="selected.image" height="16" width="16" loading="lazy" [src]="selected.image" />
    <span>
      {{ selected.name | translate }}
    </span>
  </mat-select-trigger>

  <mat-option *ngFor="let menuEntry of data" [value]="menuEntry.key" color="primary">
    <mat-icon
      *ngIf="menuEntry.icon"
      [svgIcon]="menuEntry.icon"
      class="medium without-button"
    ></mat-icon>
    <img *ngIf="menuEntry.image" height="16" width="16" loading="lazy" [src]="menuEntry.image" />
    {{ menuEntry.name | translate }}
  </mat-option>
</mat-select>
