<div class="title">
  <h1 mat-dialog-title>{{ data.title | translate : data.titleReplace }}</h1>
  <div *ngIf="data.actionClose" class="spacer"></div>
  <button
    *ngIf="data.actionClose"
    mat-flat-button
    (click)="onClose()"
    class="only-icon"
    [matTooltip]="'ACTION.CLOSE' | translate"
  >
    <mat-icon svgIcon="clear"></mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <p *ngIf="data.text" [innerHTML]="data.text | translate : data.textReplace"></p>

  <div *ngIf="data.text" class="spacer"></div>

  <div class="buttons">
    <button
      class="quickAction"
      *ngFor="let action of data.actions"
      [autofocus]="action.autoFocus"
      [matTooltip]="action.text | translate"
      (click)="onActionClick(action)"
    >
      <mat-icon [svgIcon]="action.icon"></mat-icon>
      <span class="label">{{ action.text | translate }}</span>
      <span class="text" *ngIf="action.subText as subText">
        <img
          *ngIf="action.subImage"
          height="12"
          width="12"
          loading="lazy"
          [src]="action.subImage"
        />
        {{ subText | translate }}
      </span>
    </button>
  </div>
</div>
