@import "shared/styles/styles.theme.scss";
@import "../../../styles.theme.scss";

.separator {
  background-color: $background-1;
  width: 100%;
  height: 2px;
}

.menu-custom-button {
  padding-top: $padding-xs;
  padding-bottom: $padding-xs;
}

.menu-custom-button mat-icon,
.menu-custom-button span {
  color: $text-1 !important;
}

.menu-custom-button:hover mat-icon,
.menu-custom-button:hover span {
  color: white !important;
}
