@import "shared/styles/styles.theme.scss";
@import "../../../styles.theme.scss";

.result-card {
  width: 100%;
  height: 50px;
  background-color: $background-1;
  display: grid;
  grid-template-columns: auto 4fr repeat(var(--columnsCount, 1), minmax(70px, 1fr));
  align-items: center;
  gap: $padding-s;
  padding: 0 $padding-s;
  cursor: pointer;

  &.no-columns {
    grid-template-columns: auto 1fr;
  }
}

.result-card:hover {
  background-color: $background-2;
}

span {
  @include ellipsis-lines(2);
}

.title {
  display: flex;
  align-items: center;
  gap: $padding-s;
}
