@import "shared/styles/styles.theme.scss";
@import "../../../styles.theme.scss";

.function-buttons {
  display: flex;
  // Da aktuell nur ein Element drin
  // und noch die Swipe-Region drin ist
  // gap: $padding-s;
  padding: $padding-m;
}

.purchase-item-list {
  display: flex;
  flex-direction: column;
  gap: $padding-s;
  margin: 0 $padding-m $padding-m $padding-m;
}

.page-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.swipe-region {
  flex: 1 1 auto;
}

// Für die Swipe-Region benötigt
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
