@import "shared/styles/styles.theme.scss";
@import "../../../styles.theme.scss";

.start-search {
  text-align: center;
  line-height: 250%;
  padding: $padding-m;
}

.start-search-text {
  color: $text-2;
}
