@import "shared/styles/styles.theme.scss";
@import "../../../styles.theme.scss";

:host {
  display: contents;
}

.container {
  display: flex;
  gap: $padding-xs;
  flex-wrap: wrap;
  padding: 0 $padding-s $padding-s;
  background: linear-gradient(to top, rgb(white, 0.1), transparent);

  &.next-episode {
    background: linear-gradient(to top, rgba($primary, 0.5), transparent);
  }
}

.next-episode-icon {
  padding-right: 0px;
  padding-left: 5px;
  margin: 0px;
}

.special-button-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.watching {
  background-color: white !important;
  color: $main-background;
}
