@import "shared/styles/styles.theme.scss";
@import "../../../styles.theme.scss";

.chip {
  height: 40px;
  background-color: $background-1;
  border-radius: $border-radius;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  align-items: center;

  .text {
    font-size: 16px;
    color: $text-1;
    border: none;
    outline: none;
    padding: 0 $padding-s;
    white-space: nowrap;

    @media (hover: none) {
      &.editable {
        padding-right: 0px;
      }
    }
  }
}

// Nur wenn "hover" unterstützt wird
@media (hover: hover) {
  .clear-button {
    display: none;
  }

  .chip:hover .clear-button {
    display: block;
  }
}

.chip.editable .note-button {
  margin-left: $padding-s;
}

.chip:not(.editable) .note-button {
  margin-left: 0px;
  margin-right: $padding-s;
}

@media (hover: hover) {
  .note-button {
    margin-left: 0px;
    margin-right: $padding-s;
  }

  .chip.editable:hover .note-button {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.sticky-function-buttons {
  position: sticky;
  left: 0;
  padding-left: $padding-m;
  background-color: $main-background;
  box-shadow: 0px 0px 5px 5px $main-background;
  display: flex;
  gap: $padding-s;
  z-index: 2;

  &.no-padding {
    padding-left: 0;
  }
}

.scrollbox-content {
  padding-left: 0;
  padding-top: 0;
}

.padding-if-not-editable {
  padding-left: $padding-m;
}

.scrollbox.no-padding,
.scrollbox.no-space-for-scrollbar {
  overflow-x: unset;
}

.scrollbox-content.wrap {
  flex-wrap: wrap;
}
